.vscode/**
.vscode-test/**
out/**
test_folder/**
node_modules/**
src/**
.gitignore
.yarnrc
.yarn/**
.eslintrc.json
**/*.map
**/*.ts
*.vsix
!package.json
!extension.js
!play.vbs
!*.mp3
!*.wav
!README.md
!LICENSE.md
